main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-size: 2.5em;
    font-family: sans-serif;
}

main img {
    width: 25vw;
    height: 35vh;
}

main p {
    margin: 2em 2em;
    margin-bottom: 1em;

    text-align: justify;
}

main input {
    border: none;

    width: 90vw;
    height: 5vh;

    color: white;
    background-color: rgb(232, 162, 0);
}